/* Paleta de colores */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulos, .text-footer, .subtitulo {
  padding: 40px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #faeeca;
}

.subtitulo {
  font-size: 2rem;
  font-weight: 600;
}

.text-footer {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px;
}

body {
  background-color: #140d1a;
}

.bgColor1 {
  background-color: #42142a;
}
.bgColor1 .head-logo {
  display: flex;
  width: 100px;
  height: 100px;
}
.bgColor1 .nombre {
  color: #faeeca;
  font-size: 3rem;
  text-decoration: none;
  font-family: "Abril Fatface", cursive;
}
.bgColor1 .link {
  color: #faeeca;
  font-size: 1.4rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
}
.bgColor1 .link:hover {
  color: #ffd452;
}
.bgColor1 .link .btn-hover {
  border: #42142a solid 4px;
  border-radius: 20%;
}
.bgColor1 .link .btn-hover:hover {
  background-color: #ffd452;
}
.bgColor1 .link .label {
  background-color: #ffd452;
  border: #42142a solid 2px;
  text-decoration: none;
}

.portada-pelis {
  max-height: 600px;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
}

.contenedor-movie {
  display: flex;
  justify-content: start;
  align-items: none;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 450px;
}

.div-movie {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: start;
  align-items: none;
  padding: 20px;
  max-width: 250px;
  max-height: 450px;
}
.div-movie .img-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: 2px solid #faeeca;
}
.div-movie .img-movie:hover {
  color: #ffd452;
}
.div-movie .text-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #faeeca;
}
.div-movie .text-movie:hover {
  color: #ffd452;
}
.div-movie:hover {
  background-color: #42142a;
  border-radius: 15%;
}

.flechaIzq {
  left: 0px;
  width: 50px;
  border-radius: 50%;
}

.flechaDer {
  right: 0px;
  width: 50px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .nombre {
    display: none;
  }
  .portada-pelis {
    height: 1000px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .titulos, .subtitulo, .text-footer {
    font-size: 1.5rem;
  }
  .subtitulo {
    font-size: 1.2rem;
  }
  .text-footer {
    font-size: 0.7rem;
  }
}
@media (min-width: 1700px) {
  .contenedor-movie {
    display: flex;
    justify-content: space-evenly;
  }
}
.mensajeError {
  height: 70vh;
  font-size: 3rem;
  color: #faeeca;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

.btnInicio {
  border: #42142a solid 4px;
  border-radius: 20%;
  background-color: #ffd452;
  text-decoration: none;
}
.btnInicio:hover {
  background-color: #ffd452;
}

footer {
  background-color: #42142a;
  text-align: center;
  position: fixed;
  bottom: 0vh;
  width: 100%;
  color: #faeeca;
}/*# sourceMappingURL=styles.css.map */