/* Paleta de colores */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulos, .text-parrafo, .grillaForm .form-conteiner .box-info .info-form .contact-info, .text-footer, .subtitulo {
  padding: 40px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #faeeca;
}

.subtitulo {
  font-size: 2rem;
  font-weight: 600;
}

.text-footer {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 5px;
}

.text-parrafo, .grillaForm .form-conteiner .box-info .info-form .contact-info {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
}

body {
  background-color: #140d1a;
}

.bgColor1 {
  background-color: #42142a;
}
.bgColor1 .head-logo {
  display: flex;
  width: 100px;
  height: 100px;
}
.bgColor1 .nombre {
  color: #faeeca;
  font-size: 3rem;
  text-decoration: none;
  font-family: "Abril Fatface", cursive;
}
.bgColor1 .link {
  color: #faeeca;
  font-size: 1.4rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
}
.bgColor1 .link:hover {
  color: #ffd452;
}
.bgColor1 .link .btn-hover {
  border: #42142a solid 4px;
  border-radius: 20%;
}
.bgColor1 .link .btn-hover:hover {
  background-color: #ffd452;
}
.bgColor1 .link .label {
  background-color: #ffd452;
  border: #42142a solid 2px;
  text-decoration: none;
}

.portada-pelis {
  max-height: 600px;
  /* object-fit: cover; */
  overflow: hidden;
}

.contenedor-movie {
  display: flex;
  justify-content: start;
  align-items: none;
  overflow: auto;
  /* max-height: 450px; */
}

.div-movie {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: start;
  align-items: none;
  padding: 20px;
  max-width: 250px;
  max-height: 450px;
}
.div-movie .img-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: 2px solid #faeeca;
}
.div-movie .img-movie:hover {
  color: #ffd452;
}
.div-movie .text-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #faeeca;
}
.div-movie .text-movie:hover {
  color: #ffd452;
}
.div-movie:hover {
  background-color: #42142a;
  border-radius: 15%;
}

.flechaIzq {
  left: 0px;
  width: 50px;
  border-radius: 50%;
}

.flechaDer {
  right: 0px;
  width: 50px;
  border-radius: 50%;
}

.grillaForm {
  display: flex;
  justify-content: start;
  align-items: none;
  margin: 0 5%;
  flex-direction: column;
}
.grillaForm .form-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 2% 5%;
}
.grillaForm .form-conteiner .box-info {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 40%;
}
.grillaForm .form-conteiner .box-info .info-form .contact-info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  padding-left: 0;
  margin: auto;
}
.grillaForm .form-conteiner .box-info .info-form .icon-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.grillaForm .form-conteiner .box-info .links-form {
  margin: 20px 0px;
  gap: 20px;
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.grillaForm .form-conteiner .box-info .links-form a {
  text-decoration: none;
}
.grillaForm .form-conteiner .box-info .links-form a .contact-link {
  font-size: 25px;
  height: 50px;
  width: 50px;
  color: #faeeca;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}
.grillaForm .form-conteiner .box-info .links-form a .contact-link:hover {
  border: 2px solid #42142a;
  background-color: #ffd452;
  color: #42142a;
}
.grillaForm .form-conteiner .input-Form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 40%;
  gap: 15px;
}
.grillaForm .form-conteiner .input-Form .input-box {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
}
.grillaForm .form-conteiner .input-Form .input-box .input-text, .grillaForm .form-conteiner .input-Form .input-box .input-textarea {
  width: 100%;
  height: 3em;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #faeeca;
}
.grillaForm .form-conteiner .input-Form .input-box .icon-contact {
  position: absolute;
  right: 30px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.grillaForm .form-conteiner .input-Form .input-box .input-textarea {
  width: 100%;
  padding: 10px;
  height: 7em;
}
.grillaForm .form-conteiner .input-Form .form-submit {
  width: 100%;
  padding: 10px;
  outline: none;
  background: #faeeca;
  color: #42142a;
  border: none;
  transition: 0.1s;
  cursor: pointer;
  font-size: 1rem;
}
.grillaForm .form-conteiner .input-Form .form-submit:hover {
  background: #ffd452;
  color: #42142a;
}

@media (max-width: 576px) {
  .nombre {
    display: none;
  }
  .portada-pelis {
    height: 1000px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .titulos, .subtitulo, .text-footer, .text-parrafo, .grillaForm .form-conteiner .box-info .info-form .contact-info {
    font-size: 1.5rem;
  }
  .subtitulo {
    font-size: 1.2rem;
  }
}
@media (min-width: 1700px) {
  .contenedor-movie {
    display: flex;
    justify-content: space-evenly;
  }
}
.mensajeError {
  height: 70vh;
  font-size: 3rem;
  color: #faeeca;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

.btnInicio {
  border: #42142a solid 4px;
  border-radius: 20%;
  background-color: #ffd452;
  text-decoration: none;
}
.btnInicio:hover {
  background-color: #ffd452;
}

footer {
  background-color: #42142a;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #faeeca;
}/*# sourceMappingURL=styles.css.map */