@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');


.titulos{
    padding: 40px;
    font-family: $libreFranklin;
    font-size: 2.5rem;
    font-weight: 800;
    color:map-get($mapaColor,colorTexto);
}
.subtitulo{
    @extend .titulos;
    font-size: 2rem;
    font-weight: 600;
}
.text-footer{
    @extend .titulos;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px;
}
.text-parrafo{
    @extend .titulos;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px;
}