@media (max-width: 576px) { 
    .nombre{
        display: none;
    }
    .portada-pelis{
        height: 1000px;
        object-fit: contain;
    }
    .titulos{
        font-size: 1.5rem;
    }
    .subtitulo{
        font-size: 1.2rem;
    }
    .text-footer{
        font-size: 0.7rem;
    }
}
@media (min-width: 1700px) {

    .contenedor-movie{
        display: flex;
        justify-content: space-evenly; 
    }
}