/* Paleta de colores */
$mapaColor:(
    colorFondo: #140d1a,
    colorPrimario: #42142a,
    colorHover: #ffd452,
    colorTexto: #faeeca
);

$libreFranklin: 'Libre Franklin', sans-serif;
$abrilFatface: 'Abril Fatface', cursive;